# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/

# Virtual environments
venv/
env/
.venv/
test_/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# LaTeX
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz

# Données expérimentales lourdes
*.npy
*.h5
*.hdf5

# Notebooks Jupyter
.ipynb_checkpoints/
